<div class="ui raised segment">
  <h2 class="ui header">Search Moblie Post Offices</h2>
  <form [formGroup]="searchPostForm" (ngSubmit)="onSubmit(searchPostForm.value)" class="ui form">
    <div class="field">
      <label>ID</label>
      <input type="text" formControlName="id" placeholder="Search by ID">
    </div>



    <div class="ui error message" *ngIf="searchPostForm.controls['id'].hasError('required')">
      Please enter a search key.
    </div>

    <div *ngIf="searchPostForm.valid">
      <button type="submit" class="ui button">Submit</button>
    </div>
  </form>

  <div>
    {{ serverData | json }}
  </div>

  <p></p>
  <div>
    <table class="ui celled striped table">
      <thead>
      <tr>
        <th>id</th>
        <th>Mobile Code</th>
        <th>Day of week code</th>
        <th>seq</th>
        <th>Name (EN)</th>
        <th>District (EN)</th>
        <th>Open Hours</th>
        <th>Actions</th>
      </tr>
      </thead>
      <tbody>
      <!-- @ for is a for loop, -->
        @for (post of serverDataArr; track post.id) {
          <tr>
            <td>{{post.id}}</td>
            <td>{{post.mobileCode}}</td>
            <td>{{post.dayOfWeekCode}}</td>
            <td>{{post.seq}}</td>
            <td>{{post.nameEN}}</td>
            <td>{{post.districtEN}}</td>
            <td>{{post.openHour}} - {{post.closeHour}}</td>

            <td>
              <button class="ui red mini button" (click)="deleteButtonHandler(post)">Delete</button>
            </td>
            <td>
              <button class="ui blue mini button" (click)="editButtonHandler(post)">Edit</button>
            </td>
          </tr>
        }
      </tbody>
    </table>

  </div>


</div>
